@{
    ViewBag.Title = "Home Page";
}
<div class="left-col">
@*<div style="height:35px">
<div class="form-container" action="">
				<input type="text" class="search-field" id="searchterm" value="Festival">
				<div class="submit-container">
					<input type="submit" value="" class="submit">
				</div>
</div>
<div id="search-form">
        <input type="text" id="searchterm" value='Festival'/>
        <input type="submit" value="Search"/>
</div>
</div>*@

<div style="float:left">
<h1 class="common-heading" style="font-size:24px; color:Red">Sentence Categorization Demo</h1>
</div>
	
    <div class="common-heading-subbox" style="float:right;margin-bottom:10px">       
        <div id="search-form" >
            <input type="text" id="searchterm" value='Festival'/>
            <input type="submit" value="Search" onclick="search()"/>
        </div>
       
      @* <p class="search-box-long">
            <input type="text" id="searchterm" placeholder="Search tags" class="input-search-text" value="festival"  />
            <input type="submit" id="btnSearch" value="" class="input-search-submit" onclick="search()" />
        </p> *@   
       
    </div>
    <!--end common-heading-sub-->
   
    <div class="content-box last" >      
        
    </div>
</div>
<div class="right-col" style="width:270px;margin-right:10px">
@Html.Partial("UpdateCategory")
</div>

<script type="text/javascript">
   
    $("#searchterm").keyup(function (e) {
        if (e.keyCode == 13) {            
            search();
        }
    });

    function updateCategory(){
      var url = '@Url.Action("UpdateCategory","Home")';
      var $content = $(".right-col");
            $.ajax({
            url: url,
            type: 'GET',
            cache: false,          

            success: function (result) {  
                       
                $content.html(result);                

            },
            error: function (error) {                
                $content.html('<span style="color:red;font-weight:bold">Result not found.</span>');                
            },
        });    
    }
    function search() {
        var url = '@Url.Action("Search","Home")';
        var $content = $(".content-box");
        $content.html(' <div class="se-pre-con" style="background:green;width:100%;height:500px;background: url(../../Content/themes/base/images/Preloader_11.gif) center no-repeat #fff;"></div>');


        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
             data: { text: $('#searchterm').val() },

            success: function (result) {
                $content.hide();
                $content.html(result);
                $content.fadeIn(1000);
                updateCategory();
            },
            error: function (error) {
                $content.hide();
                $content.html('<span style="color:red;font-weight:bold">Result not found.</span>');
                $content.fadeIn(1000);
            },
        });
    }
     function searchByCategory(category) {
     
        var url = '@Url.Action("SearchByCategory","Home")';
        var $content = $(".content-box");
        $content.html(' <div class="se-pre-con" style="background:green;width:100%;height:500px;background: url(../../Content/themes/base/images/Preloader_11.gif) center no-repeat #fff;"></div>');

        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
             data: { category:category },

            success: function (result) {
                $content.hide();
                $content.html(result);
                $content.fadeIn(1000);
                updateCategory();
            },
            error: function (error) {
                $content.hide();
                $content.html('<span style="color:red;font-weight:bold">Result not found.</span>');
                $content.fadeIn(1000);
            },
        });
    }
    $(function(){
        search();
    }); 

      
</script>
